{% comment %} {% load custom_filter%} {% endcomment %}
{% load static%}
{% load humanize %}
{% autoescape off %}
{% autoescape off %}
<!DOCTYPE html>
<html>

  <head>
    <title>거래 글쓰기</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/write.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
  </head>

  <body>
    {% include 'dangun_app/nav.html' %}
    <div class="content-box">
      <div class="container">

        {% block content %}
          <div class="about-trade">
            <div class="container">
              <form class="write-box" method="POST" action="{% if post %}{% url 'dangun_app:edit' post.product_id %}{% else %}{% url 'dangun_app:write' %}{% endif %}" enctype="multipart/form-data">

                {% csrf_token %}
                <div class="flex-box">
                  <label class="img-upload">
                    {% if images %}
                      {% if post.postimage_set.count > 1 %}
                        <div class="slider__btn">
                          <img src="{% static 'img/left.png' %}" id="scroll-left-btn">
                          <img src="{% static 'img/right.png' %}" id="scroll-right-btn">
                        </div>
                      {% endif %}
                      {% for image in images %}
                        <img src="/{{ BASIC_DIR }}/{{ image.image }}" alt="이미지 설명" class="image-box" id="image-box">
                      {% endfor %}
                    {% else %}
                      <img src="{% static 'img/icon_photo.png' %}" alt="이미지 설명" class="image-box">
                    {% endif %}
                    <input type="file" id="file" name="image" accept="image/*" multiple style="display: none;">
                  </label>
                  <div>
                    <div class="flex-box column baseline title-box">
                      <label for="title">글 제목</label>
                      <input type="text" name="title" placeholder="글 제목" required="required" value="{% if post %}{{ post.title }}{% endif %}">
                      <label for=" price">가격</label>
                      <input type="text" name="price" placeholder="가격" required="required" value="{% if post %}{{ post.price }}{% endif %}">
                    </div>
                  </div>
                </div>
                <div class="full-box">
                  <label for="product_description" class="block-box">물품 설명</label>
                  <textarea name="product_description" required="required">
                    {% if post %}{{ post.product_description|striptags }}
                    {% endif %}
                  </textarea>
                </div>
                <div class="full-box">
                  <label for="deal_location" class="block-box">거래 희망 장소</label>
                  <input type="text" name="deal_location" placeholder="거래를 희망하는 장소" required="required" value="{% if post %}{{ post.deal_location }}{% endif %}">
                </div>
                <div class="submit-button-box">
                  {% if post %}
                    <button type="submit">수정하기</button>
                  {% else %}
                    <button type="submit">전송</button>
                  {% endif %}
                </div>
              </form>
            </div>
          </div>
        {% endblock %}
      </div>
    </div>
  </body>
    <script type="text/javascript" src="{% static 'js/write.js' %}"></script>
</html>
{% endautoescape %}
